# Data Preparation

## Import Libraries

In [53]:
# Import Libraries
import pandas as pd

## Load dataset

In [54]:
# Load population development dataset 2020-2050
df = pd.read_excel('datasets/Bevöklerungsentwicklung_2020_2050.xlsx', sheet_name='AR-00-2020 65-Jährigen und +', header=1)
df.head()

,Unnamed: 0,2020,2021,2022,2023,2024,2025,2026,2027,2028,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
0,Schweiz,1640881.0,1676606.0,1714069.0,1752697.0,1794280.0,1837939.0,1883533.0,1931776.0,1983306.0,...,2467334.0,2489124.0,2510427.0,2532612.0,2556731.0,2580355.0,2604447.0,2626799.0,2649935.0,2672625.0
1,Zürich,267196.0,271934.0,276830.0,281911.0,287474.0,293466.0,300031.0,306964.0,314681.0,...,396384.0,401197.0,406274.0,411518.0,417212.0,422602.0,428069.0,433222.0,438673.0,444113.0
2,Bern,223414.0,228126.0,232737.0,237582.0,242584.0,247844.0,253389.0,259084.0,265222.0,...,312242.0,313518.0,314661.0,315954.0,317491.0,319091.0,320671.0,322045.0,323430.0,324716.0
3,Luzern,75269.0,77102.0,79173.0,81309.0,83559.0,85989.0,88496.0,91161.0,93971.0,...,120482.0,121618.0,122771.0,123855.0,125070.0,126224.0,127562.0,128756.0,129974.0,131149.0
4,Uri,7786.0,8015.0,8214.0,8452.0,8688.0,8924.0,9129.0,9360.0,9574.0,...,11205.0,11240.0,11269.0,11298.0,11330.0,11340.0,11353.0,11349.0,11386.0,11394.0

## Skip dropping columns

In [55]:
# ignore dropping columns

## Drop rows with missing values

In [56]:
# Check for missing values
df.isnull().sum()

Unnamed: 0    1
2020          4
2021          4
2022          4
2023          4
2024          4
2025          4
2026          4
2027          4
2028          4
2029          4
2030          4
2031          4
2032          4
2033          4
2034          4
2035          4
2036          4
2037          4
2038          4
2039          4
2040          4
2041          4
2042          4
2043          4
2044          4
2045          4
2046          4
2047          4
2048          4
2049          4
2050          4
dtype: int64

In [57]:
# Show rows with missing values
df[df.isnull().any(axis=1)]

# Missing values are the footer of the dataset. We can drop them.

,Unnamed: 0,2020,2021,2022,2023,2024,2025,2026,2027,2028,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
27,Quelle: SZENARIEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,© BFS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,"Auskunft: Bundesamt für Statistik (BFS), Sekti...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
# Drop rows with missing values
df.dropna(inplace=True)

# Confirm that missing values are removed
df.isnull().sum()

Unnamed: 0    0
2020          0
2021          0
2022          0
2023          0
2024          0
2025          0
2026          0
2027          0
2028          0
2029          0
2030          0
2031          0
2032          0
2033          0
2034          0
2035          0
2036          0
2037          0
2038          0
2039          0
2040          0
2041          0
2042          0
2043          0
2044          0
2045          0
2046          0
2047          0
2048          0
2049          0
2050          0
dtype: int64

## Drop rows with duplicate values

In [59]:
# Check for duplicate values
df.duplicated().sum()

# There are no duplicate values in the dataset

0

In [60]:
df.head()

,Unnamed: 0,2020,2021,2022,2023,2024,2025,2026,2027,2028,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
0,Schweiz,1640881.0,1676606.0,1714069.0,1752697.0,1794280.0,1837939.0,1883533.0,1931776.0,1983306.0,...,2467334.0,2489124.0,2510427.0,2532612.0,2556731.0,2580355.0,2604447.0,2626799.0,2649935.0,2672625.0
1,Zürich,267196.0,271934.0,276830.0,281911.0,287474.0,293466.0,300031.0,306964.0,314681.0,...,396384.0,401197.0,406274.0,411518.0,417212.0,422602.0,428069.0,433222.0,438673.0,444113.0
2,Bern,223414.0,228126.0,232737.0,237582.0,242584.0,247844.0,253389.0,259084.0,265222.0,...,312242.0,313518.0,314661.0,315954.0,317491.0,319091.0,320671.0,322045.0,323430.0,324716.0
3,Luzern,75269.0,77102.0,79173.0,81309.0,83559.0,85989.0,88496.0,91161.0,93971.0,...,120482.0,121618.0,122771.0,123855.0,125070.0,126224.0,127562.0,128756.0,129974.0,131149.0
4,Uri,7786.0,8015.0,8214.0,8452.0,8688.0,8924.0,9129.0,9360.0,9574.0,...,11205.0,11240.0,11269.0,11298.0,11330.0,11340.0,11353.0,11349.0,11386.0,11394.0

In [61]:
df.tail()

,Unnamed: 0,2020,2021,2022,2023,2024,2025,2026,2027,2028,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
22,Waadt,135392.0,137594.0,140281.0,143233.0,146295.0,149448.0,152593.0,156270.0,160317.0,...,204480.0,207132.0,209729.0,212309.0,215075.0,217718.0,220513.0,223045.0,225654.0,228270.0
23,Wallis,70837.0,72575.0,74399.0,76301.0,78429.0,80662.0,82907.0,85216.0,87782.0,...,109638.0,110467.0,111242.0,111973.0,112822.0,113711.0,114448.0,115133.0,115917.0,116689.0
24,Neuenburg,34255.0,34679.0,35093.0,35488.0,36043.0,36592.0,37102.0,37691.0,38337.0,...,45768.0,46087.0,46351.0,46611.0,46864.0,47096.0,47297.0,47468.0,47657.0,47898.0
25,Genf,84006.0,85116.0,86306.0,87593.0,89233.0,90805.0,92487.0,94324.0,96323.0,...,120203.0,121892.0,123505.0,125220.0,126955.0,128686.0,130406.0,132085.0,133844.0,135584.0
26,Jura,15822.0,16085.0,16358.0,16603.0,16928.0,17270.0,17567.0,17951.0,18271.0,...,21097.0,21148.0,21198.0,21233.0,21292.0,21336.0,21397.0,21442.0,21510.0,21555.0

In [62]:
# Replace Unnamed: 0 with empty string
df.rename(columns={'Unnamed: 0': ''}, inplace=True)
df.head()

,,2020,2021,2022,2023,2024,2025,2026,2027,2028,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
0,Schweiz,1640881.0,1676606.0,1714069.0,1752697.0,1794280.0,1837939.0,1883533.0,1931776.0,1983306.0,...,2467334.0,2489124.0,2510427.0,2532612.0,2556731.0,2580355.0,2604447.0,2626799.0,2649935.0,2672625.0
1,Zürich,267196.0,271934.0,276830.0,281911.0,287474.0,293466.0,300031.0,306964.0,314681.0,...,396384.0,401197.0,406274.0,411518.0,417212.0,422602.0,428069.0,433222.0,438673.0,444113.0
2,Bern,223414.0,228126.0,232737.0,237582.0,242584.0,247844.0,253389.0,259084.0,265222.0,...,312242.0,313518.0,314661.0,315954.0,317491.0,319091.0,320671.0,322045.0,323430.0,324716.0
3,Luzern,75269.0,77102.0,79173.0,81309.0,83559.0,85989.0,88496.0,91161.0,93971.0,...,120482.0,121618.0,122771.0,123855.0,125070.0,126224.0,127562.0,128756.0,129974.0,131149.0
4,Uri,7786.0,8015.0,8214.0,8452.0,8688.0,8924.0,9129.0,9360.0,9574.0,...,11205.0,11240.0,11269.0,11298.0,11330.0,11340.0,11353.0,11349.0,11386.0,11394.0

## Create new excel after preprocessing

In [63]:
# Create new excel file after cleaning
df.to_excel('datasets/Bevöklerungsentwicklung_2020_2050_preprocessed.xlsx', index=False)