# Data Preparation

## Import libraries

In [26]:
# Import libraries
import pandas as pd

## Load dataset

In [27]:
# Loading demographics data
df = pd.read_excel('datasets/Ständige_Wohnbevölkerung.xlsx', header=2)
df.head()

           Unnamed: 0 Unnamed: 1     2022
0  Geschlecht - Total    0 Jahre  80839.0
1                 NaN     1 Jahr  89890.0
2                 NaN    2 Jahre  86673.0
3                 NaN    3 Jahre  87633.0
4                 NaN    4 Jahre  89530.0

## Drop irrelevant columns

In [28]:
# Drop column 'Unnamed: 0'
df.drop(columns=['Unnamed: 0'], inplace=True)

df.head()

  Unnamed: 1     2022
0    0 Jahre  80839.0
1     1 Jahr  89890.0
2    2 Jahre  86673.0
3    3 Jahre  87633.0
4    4 Jahre  89530.0

## Rename columns

In [29]:
# Rename columns Unnamed: 1 to 'Alter' and Unnamed: 2 to 'Bevölkerungsanteil'
df.rename(columns={'Unnamed: 1': 'Alter', 'Unnamed: 2': 'Bevölkerungsanteil'}, inplace=True)
df.head()

     Alter     2022
0  0 Jahre  80839.0
1   1 Jahr  89890.0
2  2 Jahre  86673.0
3  3 Jahre  87633.0
4  4 Jahre  89530.0

## Drop rows with missing values

In [30]:
# Check tail of the dataframe
df.tail(39)

# From Bevölkerungsanteil from age 99 and above were added together

                 Alter     2022
91            91 Jahre  16575.0
92            92 Jahre  13784.0
93            93 Jahre  10587.0
94            94 Jahre   8203.0
95            95 Jahre   6062.0
96            96 Jahre   4379.0
97            97 Jahre   3113.0
98            98 Jahre   2149.0
99   99 Jahre und mehr   3353.0
100                NaN      NaN
101                NaN      NaN
102                NaN      NaN
103                NaN      NaN
104                NaN      NaN
105                NaN      NaN
106                NaN      NaN
107                NaN      NaN
108                NaN      NaN
109                NaN      NaN
110                NaN      NaN
111                NaN      NaN
112                NaN      NaN
113                NaN      NaN
114                NaN      NaN
115                NaN      NaN
116                NaN      NaN
117                NaN      NaN
118                NaN      NaN
119                NaN      NaN
120                NaN      NaN
121                NaN      NaN
122                NaN      NaN
123                NaN      NaN
124                NaN      NaN
125                NaN      NaN
126                NaN      NaN
127                NaN      NaN
128                NaN      NaN
129                NaN      NaN

In [31]:
# Check for missing values
df.isnull().sum()

# Show rows with missing values
df[df.isnull().any(axis=1)]

# Missing values are white spaces and footer of the dataframe

    Alter  2022
100   NaN   NaN
101   NaN   NaN
102   NaN   NaN
103   NaN   NaN
104   NaN   NaN
105   NaN   NaN
106   NaN   NaN
107   NaN   NaN
108   NaN   NaN
109   NaN   NaN
110   NaN   NaN
111   NaN   NaN
112   NaN   NaN
113   NaN   NaN
114   NaN   NaN
115   NaN   NaN
116   NaN   NaN
117   NaN   NaN
118   NaN   NaN
119   NaN   NaN
120   NaN   NaN
121   NaN   NaN
122   NaN   NaN
123   NaN   NaN
124   NaN   NaN
125   NaN   NaN
126   NaN   NaN
127   NaN   NaN
128   NaN   NaN
129   NaN   NaN

In [32]:
# Drop rows with missing values
df.dropna(inplace=True)

# Confirm missing values are dropped
df.isnull().sum()

Alter    0
2022     0
dtype: int64

In [33]:
# Check tail of the dataframe
df.tail()

                Alter    2022
95           95 Jahre  6062.0
96           96 Jahre  4379.0
97           97 Jahre  3113.0
98           98 Jahre  2149.0
99  99 Jahre und mehr  3353.0

## Drop rows with duplicate values

In [34]:
# Check for duplicate values
df.duplicated().sum()

# No duplicate values found

0

## Create new excel file for total population

In [35]:
# Create new excel file for total population
df.to_excel('datasets/Ständige_Wohnbevölkerung_preprocessed.xlsx', index=False)

## Keep only 65+ age population

In [36]:
# Drop rows with index 0 to 64
df.drop(index=range(0, 65), inplace=True)

# Confirm rows are dropped
df.head()

       Alter     2022
65  65 Jahre  98481.0
66  66 Jahre  94698.0
67  67 Jahre  90285.0
68  68 Jahre  87180.0
69  69 Jahre  83810.0

In [37]:
df.tail()

                Alter    2022
95           95 Jahre  6062.0
96           96 Jahre  4379.0
97           97 Jahre  3113.0
98           98 Jahre  2149.0
99  99 Jahre und mehr  3353.0

## Create new excel after preprocessing

In [38]:
# Create new excel file after preprocessing
df.to_excel('datasets/Ständige_Wohnbevölkerung_preprocessed_65+.xlsx', index=False)